{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Bienvenue dans le WildFighter!</h1>
    <div class="row">
        <div class="col-5 mx-auto pr-5">
            <div class="card mx-auto">
                <div class="card-body mx-auto">
                    <h2 class="card-title">John</h2>
                    <img class="img-fluid" src="/assets/images/john bane.png" alt="Le Boss">
                    <p class="card-text">C'est moi le manager!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5 offset-2 pl-5">
            <div class="card">
                <div class="card-body mx-auto">
                    <h2 class="card-title">Sylvain</h2>
                    <img class="img-fluid" src="/assets/images/sylvain joker.png" alt="Sous-fifre 1">
                    <p class="card-text">J'aime l'humour!</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Nico</h2>
                    <img class="img-fluid" src="/assets/images/nico constantine.png" alt="Sous-fifre 2">
                    <p class="card-text">Me faites pas chier!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
