<nav class="navbar navbar-expand-sm bg-dark navbar-dark clearfix">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/">WF</a>

    <!-- Links -->
    <ul class="navbar-nav mx-auto">
        {% if user is not empty %}
        <li class="nav-item">
            <a class="nav-link" href="games">Parties</a>
        </li>
        {% endif %}
        {% if user is empty %}
            <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#connexionModal">
                Connexion
            </button>
            </li>
        {% else %}
            <li><a href="/proc/deconnect"><button type="button" class="btn btn-primary">
                    Se déconnecter
                </button></a>
            </li>
        {% endif %}
        <li><p class="username pl-5 mt-1">{{ user.name | upper }}</p></li>
    </ul>

</nav>


<!-- The Modal -->
<div class="modal fade" id="connexionModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Connection</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="boxErrorNav" class="alert alert-danger text-center"></div>
                <form action="/proc/connexion" method="POST" id="form_connexion">
                    <div class="form-group">
                        <label for="login">Login:</label>
                        <input type="text" class="form-control" id="login" name="login">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" name="pwd">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <div id="boxSuccessNav" class="alert alert-success text-center"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="sign_in"><button type="button" class="btn btn-secondary" >Inscription</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
</div>


