
.card-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;
}
.card-checkbox input[type="checkbox"] {
    display: none;
}

.card-checkbox-checked {
    border-color: white;
}

#gameGrid{
    /*width:100%;*/
    text-align:center;
    margin:10px auto;
         /* dimensions des cellules de la grille*/


}

#gameGrid td{
    border : 1px solid black;
    /*width : calc(100vw / 10);*/
   /* height : calc(100vw / 10);*/
    width: 90px;        /* dimensions des cellules de la grille*/

}

#gameGrid tr{
    height: 90px;
}

.username{
    color: white;
    font-size: 18px;
}