
 #gameGrid{
    /*width:100%;*/
    text-align:center;
    margin:10px auto;
         /* dimensions des cellules de la grille*/


}

#gameGrid td{
    border : 1px solid black;
    width: 90px;        /* dimensions des cellules de la grille*/

}

#gameGrid tr{
    height: 90px;
}

.username{
    color: white;
    font-size: 18px;
}


.card p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.card img{
    width: 20vw;
    height: 50vh;
}

.card-title{
    text-align: center;
    color: white;
}
.card {
    width: 20vw;
    background-color: transparent;
    border: transparent;
}

h1{
    text-align: center;
    color: white;
}

body {
    background-image: url('/assets/images/bgfight.jpg');
    background-size: 100vw 70vw;
    background-repeat: no-repeat;
}
.thumb{
    width:88px;
    height:88px;
    display:block;

}