
#gameGrid{
    /*width:100%;*/
    text-align:center;
    margin:10px auto;
         /* dimensions des cellules de la grille*/


}

#gameGrid td{
    border : 1px solid black;
    /*width : calc(100vw / 10);*/
   /* height : calc(100vw / 10);*/
    width: 90px;        /* dimensions des cellules de la grille*/

}

#gameGrid tr{
    height: 90px;
}

.username{
    color: white;
    font-size: 18px;
}

.thumb{
    width:88px;
    height:88px;
    display:block;
}