{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <form class="bg-warning p-0 m-0" action="" method="get">
            <div class="row text-center justify-content-center">
                <div class="col-4">
                    <div class="card m-5 bg-dark text-light" style="width: 25em;">
                        <img class="card-img-top" src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/lg/1-a-bomb.jpg" alt="Card image cap">
                        <div class="card-img-overlay text-center">
                            <h5 class="card-title text-light">NAME</h5>
                        </div>
                        <div class="text-center">
                            <p class="card-text m-0 p-0 font-weight-bold">DURABILITY : 00</p>
                            <p class="card-text m-0 p-0 font-weight-bold">STRENGTH : 00</p>
                            <p class="card-text m-0 p-0 font-weight-bold">SPEED : 00</p>
                            <p class="card-text m-0 p-0 font-weight-bold">COMBAT : 00</p>
                            <p class="card-text m-0 p-0 font-weight-bold">POWER : 00</p>
                        </div>
                    </div>
                </div>
                <div class="col-4" >
                    <div class="card m-5 bg-dark text-light" style="width: 25em;">
                        <img class="card-img-top" src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/lg/1-a-bomb.jpg" alt="Card image cap">
                        <div class="card-img-overlay text-center">
                            <h5 class="card-title text-light">NAME</h5>
                        </div>
                        <div class="text-center">
                            <p class="card-text m-0 p-0 font-weight-bold">DURABILITY : 00</p>
                            <p class="card-text m-0 p-0 font-weight-bold">STRENGTH : 00</p>
                            <p class="card-text m-0 p-0 font-weight-bold">SPEED : 00</p>
                            <p class="card-text m-0 p-0 font-weight-bold">COMBAT : 00</p>
                            <p class="card-text m-0 p-0 font-weight-bold">POWER : 00</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <a class="btn btn-primary btn-lg" href="localhost/myGame" role="button">LET'S FIGHT</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}