{% extends 'layout.html.twig' %}

{% block content %}

<section>
    <div class="row bg-dark text-center pb-2 justify-content-center">
        <div class="col-3 mx-0 my-3" style="width: 13rem;">
            <img class="card-img" style="width: 26rem;" src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/lg/1-a-bomb.jpg" alt="HEROS 1 of Army 1">{#replace by query#}
            <div class="card-img-overlay">
                <h2 class="bg-light mx-2">HEROS ONE</h2>
            </div>
        </div>
        <div class="col-3 text-warning">
            <h2 class="pt-5" style="font-size: 20em;">+</h2>
            <h4 class="pt-5 mt-5" >SELECT HEROS TO MAKE YOUR ARMY</h4>
        </div>
        <div class="col-3 mx-0 mt-3">
            <img class="card-img" style="width: 26rem;" src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/lg/1-a-bomb.jpg" alt="HEROS 1 of Army 1">{#replace by query#}
            <div class="card-img-overlay">
                <h2 class="bg-light mx-2">HEROS ONE</h2>
            </div>
        </div>
    </div>
</section>

    <form action="" method="post">
        <div id="selector" class="row justify-content-center bg-warning p-5 ">
            <div class="col-1">
                {#<button type="submit" class="btn btn-primary">LET'S FIGHT</button>#}
            </div>
            <div class="card card-checkbox mx-5 bg-dark text-light" style="width: 12em;">
                <img class="card-img-top" src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/lg/1-a-bomb.jpg" alt="Card image cap">
                <div class="card-img-overlay text-center">
                    <h5 class="card-title text-light">NAME</h5>
                </div>
                <input type="checkbox" name="image[]" value="" />
                <div class="text-center">
                    <p class="card-text m-0 p-0">DUR : 00</p>
                    <p class="card-text m-0 p-0">STR : 00</p>
                    <p class="card-text m-0 p-0">SPD : 00</p>
                    <p class="card-text m-0 p-0">CMB : 00</p>
                    <p class="card-text m-0 p-0">PWR : 00</p>
                </div>
            </div>
            <div class="card card-checkbox mx-5 bg-dark text-light" style="width: 12em;">
                <img class="card-img-top" src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/lg/1-a-bomb.jpg" alt="Card image cap">
                <div class="card-img-overlay text-center">
                    <h5 class="card-title text-light">NAME</h5>
                </div>
                <input type="checkbox" name="image[]" value="" />
                <div class="text-center">
                    <p class="card-text m-0 p-0">DUR : 00</p>
                    <p class="card-text m-0 p-0">STR : 00</p>
                    <p class="card-text m-0 p-0">SPD : 00</p>
                    <p class="card-text m-0 p-0">CMB : 00</p>
                    <p class="card-text m-0 p-0">PWR : 00</p>
                </div>
            </div>
            <div class="card card-checkbox mx-5 bg-dark text-light" style="width: 12em;">
                <img class="card-img-top" src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/lg/1-a-bomb.jpg" alt="Card image cap">
                <div class="card-img-overlay text-center">
                    <h5 class="card-title text-light">NAME</h5>
                </div>
                <input type="checkbox" name="image[]" value="" />
                <div class="text-center">
                    <p class="card-text m-0 p-0">DUR : 00</p>
                    <p class="card-text m-0 p-0">STR : 00</p>
                    <p class="card-text m-0 p-0">SPD : 00</p>
                    <p class="card-text m-0 p-0">CMB : 00</p>
                    <p class="card-text m-0 p-0">PWR : 00</p>
                </div>
            </div>
            <div class="card card-checkbox mx-5 bg-dark text-light" style="width: 12em;">
                <img class="card-img-top" src="https://raw.githubusercontent.com/akabab/superhero-api/0.2.0/api/images/lg/1-a-bomb.jpg" alt="Card image cap">
                <div class="card-img-overlay text-center">
                    <h5 class="card-title text-light">NAME</h5>
                </div>
                <input type="checkbox" name="image[]" value="" />
                <div class="text-center">
                    <p class="card-text m-0 p-0">DUR : 00</p>
                    <p class="card-text m-0 p-0">STR : 00</p>
                    <p class="card-text m-0 p-0">SPD : 00</p>
                    <p class="card-text m-0 p-0">CMB : 00</p>
                    <p class="card-text m-0 p-0">PWR : 00</p>
                </div>
            </div>
                <div class="col-1">
                    <button type="submit" class=" btn btn-lg btn-primary">LET'S FIGHT</button>
                </div>

        </div>

    </form>

{% endblock %}
