
{% extends 'layout.html.twig' %}

{% block content %}

    <section class="row justify-content-center m-3">
        <form action="" method="post" class="form-inline">
                <label for="gameName" class="col-xl-auto mx-1">Nom de la partie</label>
                <input type="text" name="gameName" id="gameName" class="form-control col-xl-auto mx-1" placeholder="Marvel vs DC">
                <input name="submit" id="creat" class="btn btn-warning col-xl-auto mx-1 px-5" type="button" value="CREER LA PARTIE">
        </form>
    </section>
<div class="container">
    <section>

        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th>Nom de la partie</th>
                <th>joueur 1</th>
                <th>joueur 2</th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.player1 }}</td>
                <td>{{ game.player2 }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>



    </section>
</div>
{% endblock %}



